*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 100%; 
}

.backlit {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.spaced {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    font-family: 'Lato', sans-serif; 
    
    line-height: 1.6; 
    max-width: 1400px;
    margin: 0 auto;
    background: #3d3d3d; 
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url("images/background.png");
    background-position: center; 
    ,background-repeat: no-repeat; 
}

.content-container {
    background-color: #fff;;
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
}

.content-container iframe {
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: auto;
}

.content-container p, h2, li {
    margin-bottom: 0.5em;
}

.content {
    padding: 10px;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.links li a {
    text-decoration: none;
    color: #fff;
}

.links li a:hover {
    color: #989898;
}

footer {
    height: 50px;
    background-color: #DAA520;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    color: #000;
}

/*DAA520*/
/*d3d09e*/
/*627264*/
/*b49178*/